<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        字符串输出
        <p th:text="'hello SpringBoot'">hello thymeleaf</p>
        数学运算
        <p th:text="9 + 10"></p>
        <p th:text="10 * 10"></p>
        <p th:text="1 - 10"></p>
        <p th:text="8 / 3"></p>
        <p th:text="3 % 2"></p>
        操作域对象
        <p th:text="${user}"></p>
        <p th:text="${user.username}"></p>

        遍历数组
        <!--
        th:each标签用于迭代遍历，
            第一个属性item表示迭代获得的对象，第二个属性stat表示迭代器的状态，
            通过状态变量的相关方法可以获得一些属性：
            index：当前对象在迭代器中的索引；
            count：同index，从1计数；
            size：迭代器中对象总数；
            even/odd：当前对象的索引index是否为奇数/偶数；
            first/last：当前对象是迭代器中第一个/最后一个
        -->
        <table th:each="item, sta:${user.hobbies}">
            <tr>
                <td th:text="${item}"></td>
                <td th:text="${sta.index}"></td>
                <td th:text="${sta.odd}"></td>
                <td th:text="${sta.size}"></td>
            </tr>
        </table>


        遍历map
        <div th:each="item:${user.secrets}" th:text="${item.key}"></div>

        遍历数组
        <div th:each="item:${user.hobbies}" th:text="${item}"></div>

        设置属性
        <input type="text" th:attr="value=${user.username}">
        <input type="text" th:attr="value=${user.username}, title=${user.username}">


        <!--
            th:object标签与*{}选择表达式结合使用
            上面变量表达式#{}的作用类似，区别在于：
            th:object首先获取对象，然后使用*{}直接获取其中的属性即可
            适用于需要获取某一对象大量属性的情况，可以提高效率
        -->
        表单数据绑定
        <form action="" th:object="${user}">
            <input type="text" th:value="*{username}">
            <input type="password" th:value="*{password}">
            <select>
                <option th:each="item:${user.secrets}" th:text="${item.value}"
                        th:selected="'a' eq ${item.value}"></option>
            </select>
        </form>

        解析html文本内容
        <p th:utext="'<span>html</span>'"></p>

        流程控制
        <p th:if="${user.username} != ${user.password}">yes</p>
        <div th:switch="${user.username}">
            <p th:case="张三">name is 张三</p>
            <p th:case="jack">name is jack</p>
        </div>

        外部引入
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <script th:src="@{/js/index.js}"></script>

        <a th:href="@{/home}">home</a>
    </body>

</html>